# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
client/node_modules/
server/node_modules/
server/uploads/
node_modules/

# Build output (optional falls du baust)
dist/
dist-ssr/
client/build/
server/dist/  
# Env files
.env
client/.env
client/.env.local
client/.env.development
client/.env.production
server/.env
server/.env.local
server/.env.development
server/.env.production
.env.development.local
.env.test.local
.env.production.local
.env.local
# generated-prisma files
server/generated
server/generated/prisma
/src/generated/prisma   
# Editor directories and files
.vscode/
!.vscode/extensions.json
!.vscode/settings.json   !.vscode/tasks.json      !.vscode/launch.json     .idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules

# IDE - VSCode (spezifisch für server)
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace      
client/src/trash.tsx
client/inventory-app-feature-checklist.md

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# OS
.DS_Store
server/.DS_Store

# Tests
coverage
server/coverage
server/.nyc_output
.nyc_output              
# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
server/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Temp directories
.temp
.tmp
server/temp

# Server specific
server/src/middleware/trash.ts

server/.git